body{
  background-color: powderblue;
}
.form{
  text-align: center;
  color: black;
  
}
.pic{
  text-align: right;
}
*{
  text-align: center ;
  color: Black;
  border-radius: 5px;
}
.btn{
  background-color: greenyellow;
  color: black;
  font-weight: 500;
  
}
.btnn{
  background-color: red;
  color: white;
  font-weight: 500;
}

.name{
}